<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ room }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.0/socket.io.min.js"></script>
    <style>
        #send {margin: 35% 5% 7% 5%;}
        #send-button {width: 10%; border: 2px solid green; border-radius: 12px; height: 40px;  font-family: cursive; font-size: 20px; color:grey;}
        #send-button:hover {width: 10%; border: 4px solid green; border-radius: 12px; height: 40px;  font-family: cursive; font-size: 20px; color:black; font-weight: bolder;}
        #leave-button {width: 10%; border: 2px solid red; border-radius: 12px; height: 40px;  font-family: cursive; font-size: 20px; color:grey;}
        #leave-button:hover {width: 10%; border: 4px solid red; border-radius: 12px; height: 40px;  font-family: cursive; font-size: 20px; color:black; font-weight: bolder;}
        #msg-input {margin-left: 35%; width:43%; border: 3px solid grey; border-radius: 12px; height: 40px;  font-family: cursive; font-size: 20px; background-color: #ede1d1;}
        #msg-receive {color: white}
        #msg-sended {color:black}
        #msg-sign {color: grey;}
        #msg-sys {color: red;}
        #msg-sign-sys {color: purple;}
    </style>
</head>

<body style="background-color: #d9b689; font-family: cursive;">
    <script>
        $(document).ready(function () {

            // get data from jinja
            const user_data = {
                email: "{{ email }}",
                user: "{{ user }}",
                room: "{{ room }}",
                department: "{{ department }}",
                department_role: "{{ department_role }}"
            };

            // Get buttons and input field
            const input = document.getElementById('msg-input');
            const send_button = document.getElementById('send-button');
            const leave_button = document.getElementById('leave-button');

            // Create socket object and connect to the server
            const socket = io.connect('http://' + document.domain + ':' + location.port, {});

            // Helper functions

            function getCurrentTimeFormatted() {
                // Get current date-time in format: 12:33 PM Oct 26

                const now = new Date();

                const options = { hour: 'numeric', minute: 'numeric', hour12: true };
                const timeString = now.toLocaleString('en-US', options);

                const dateOptions = { day: 'numeric', month: 'long' };
                const dateString = now.toLocaleString('en-US', dateOptions);

                return `${timeString} ${dateString}`;
            }

            function createSendedMessage(message){
                // Create sended message to show

                // Create container for message
                let sended_message_container = document.createElement("div");
                sended_message_container.setAttribute('class', 'sended-msg');
                sended_message_container.setAttribute('id', 'sended-msg');
                sended_message_container.style.marginTop = "1%";
                sended_message_container.style.marginLeft = "40%";
                sended_message_container.style.padding = "1%";
                sended_message_container.style.fontSize = "20px";
                sended_message_container.style.color = "grey";
                // sended_message_container.style.border = "1px solid black";
                
                // Create inner container
                let inner_container = document.createElement("p");
                inner_container.id = "msg-sended";
                inner_container.style.margin = "4px";
                inner_container.style.padding = "0%";
                inner_container.innerHTML = message;
                
                // Build root container and add to chat
                sended_message_container.appendChild(inner_container);
                document.getElementById('chat').appendChild(sended_message_container);
            };

            function createReceivedMessage(message, sys=null){
                // Create received message to show

                // Create container for message
                let received_message_container = document.createElement("div");
                received_message_container.setAttribute('class', 'received-msg');
                received_message_container.setAttribute('id', 'received-msg');
                received_message_container.style.marginTop = "1%";
                received_message_container.style.marginRight = "40%";
                received_message_container.style.padding = "1%";
                received_message_container.style.fontSize = "20px";
                received_message_container.style.color = "black";
                // received_message_container.style.border = "1px solid blue";

                // Create inner container
                let inner_container = document.createElement("p");
                if (sys === null){
                    inner_container.id = "msg-receive";
                }
                else {
                    inner_container.id = "msg-sys";
                };

                inner_container.style.margin = "4px";
                inner_container.style.padding = "0%";
                inner_container.innerHTML = message;

                // Add inner container with message to root container
                received_message_container.appendChild(inner_container);
                document.getElementById('chat').appendChild(received_message_container);
            };

            // SocketIO Events

            socket.on('join-room', function(){
                // Server call this on connect event
                socket.emit('join-room', user_data);
            });

            socket.on('receive-history', function(history){
                // Receive and show message history from chat room
                
                // Build message html
                let message = history.msg + "<br>" + "<span id='msg-sign'>" + history.time + " " + history.name + "</span>";

                // Add message to container - sended or received
                if (history.name == user_data['user']) {
                    createSendedMessage(message);
                }
                else {
                    createReceivedMessage(message);
                };

                // Scroll cursor down the windows
                window.scrollTo(0, document.body.scrollHeight);
                
            });

            socket.on('message', function(message){
                // receive system message from server

                // Build message html
                let now = getCurrentTimeFormatted();
                sys_message = message + "<br>" + "<span id='msg-sign-sys'>" + now + " System" + "</span>"

                // Show message
                createReceivedMessage(sys_message, 1);

                // Scroll cursor down the windows
                window.scrollTo(0, document.body.scrollHeight);       
            });

            socket.on('receive-message', function(msg_data){
                // Receive message from server and show it

                // Build message
                let message = msg_data.msg + "<br>" + "<span id='msg-sign'>" + msg_data.time + " " + msg_data.name + "</span>";

                // Show message
                if (user_data.user == msg_data.name){
                    createSendedMessage(message);
                }
                else {
                    createReceivedMessage(message);
                }

                // Scroll cursor down the window
                window.scrollTo(0, document.body.scrollHeight);
            });

            $(send_button).on('click', function () {
                // Send message to server by clicking send button
    
                // Get message from field and build message
                var message = $('#msg-input').val();
                if (message.length > 0){
                    user_data['message'] = message;

                    // Send message and dele it from user data
                    socket.emit('receive-message', {user_data});
                    delete user_data.message;

                    // Clear input field
                    $('#msg-input').val(''); 
                };
            });
        
            input.addEventListener('keypress', function(evenv){
                // Click 'send' button on enter key

                if (event.key == 'Enter'){
                    $(send_button).click();
                };
            });

            $(leave_button).on('click', function () {
                // Call leave function on server when click 'leave' button

                socket.emit('leave-room', {user_data});
            });

            socket.on('leave-room', function(data){
                // This function call from server - remove 'room' from session and redirect to 'rooms' page

                sessionStorage.removeItem("room"); // remove 'room' from session
                window.location.href = data.url; // redirect to room choosing page
            });
        });
        
    </script>

    <div id="chat" class="chat" style="margin: 5% 5% 0% 5%;">
        <!-- Put your messages here -->
    </div>
    <div id="send" class="send">
        <input type="text" name="msg-input" id="msg-input" placeholder="Type you message here..." >
        <button id="send-button">Send</button>
        <button id="leave-button" style=>Leave</button>
    </div>

</body>

</html>