<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ room }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('chat.static', filename='css/chat.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.0/socket.io.min.js"></script>
</head>

<body>
    <script>
        $(document).ready(function () {

            // get data from jinja
            const user_data = {
                email: "{{ email }}",
                user: "{{ user }}",
                room: "{{ room }}",
                department: "{{ department }}",
                department_role: "{{ department_role }}"
            };

            // Get buttons and input fields
            const chat = document.getElementById('chat');
            const input = document.getElementById('input-msg');
            const send_button = document.getElementById('input-send');
            const leave_button = document.getElementById('input-leave');

            // Create socket object and connect to the server
            const socket = io.connect('http://' + document.domain + ':' + location.port, {});

            // Helper functions

            function getCurrentTimeFormatted() {
                // Get current date-time in format: 12:33 PM Oct 26

                const now = new Date();

                const options = { hour: 'numeric', minute: 'numeric', hour12: true };
                const timeString = now.toLocaleString('en-US', options);

                const dateOptions = { day: 'numeric', month: 'long' };
                const dateString = now.toLocaleString('en-US', dateOptions);

                return `${timeString} ${dateString}`;
            };

            function createMessage(message, mode){
                // Create message to show

                let msg_container = document.createElement("div");
                if (mode === 'snd'){
                    msg_container.setAttribute('id', 'snd-msg')
                }
                else if (mode == 'rcv'){
                    msg_container.setAttribute('id', 'rcv-msg')
                }

                msg_container.innerHTML = message;
                document.getElementById('chat').appendChild(msg_container);
            };

            // SocketIO Events

            socket.on('join-room', function(){
                // Server call this on connect event
                socket.emit('join-room', user_data);
            });

            socket.on('receive-history', function(history){
                // Receive and show message history from chat room
                
                // Build message
                let sign = '<span class="msg-sign-tooltip">' + history.department + ", " + history.department_role + "</span>"
                let message = history.msg + "<br>" + "<span class='msg-sign'>" + history.time + ", " + history.name + sign + "</span>";

                // Add message to container - sended or received
                if (history.name == user_data['user']) {
                    createMessage(message, 'snd');
                }
                else {
                    createMessage(message, 'rcv');
                };

                // Scroll cursor down the windows
                chat.scrollTop = chat.scrollHeight;
            });

            socket.on('message', function(message){
                // receive system message from server

                // Build message
                let now = getCurrentTimeFormatted();
                let sign = "<span class='msg-sign-tooltip'>" + "Development, Chat itself" + "</span>"
                let sys_message = message + "<br>" + "<span class='msg-sign'>" + now + ", " + "System" + sign + "</span>";

                // Show message
                createMessage(sys_message, 'rcv');

                // Scroll cursor down the windows
                chat.scrollTop = chat.scrollHeight;
            });

            socket.on('receive-message', function(msg_data){
                // Receive message from server and show it

                // Build message
                let sign = "<span class='msg-sign-tooltip'>" + msg_data.department + ", " + msg_data.department_role + "</span>"
                let message = msg_data.msg + "<br>" + "<span class='msg-sign'>" + msg_data.time + ", " + msg_data.name + sign + "</span>";

                // Show message
                if (user_data.user == msg_data.name){
                    createMessage(message, 'snd');
                }
                else {
                    createMessage(message, 'rcv');
                }

                // Scroll cursor down the window
                chat.scrollTop = chat.scrollHeight;
            });

            $(send_button).on('click', function () {
                // Send message to server by clicking send button
    
                // Get message from field and build message
                var message = $(input).val();
                if (message.length > 0){
                    user_data['message'] = message;

                    // Send message and delet it from user data
                    socket.emit('receive-message', {user_data});
                    delete user_data.message;

                    // Clear input field
                    $(input).val(''); 
                };
            });
        
            input.addEventListener('keypress', function(evenv){
                // Click 'send' button on enter key

                if (event.key == 'Enter'){
                    $(send_button).click();
                };
            });

            $(leave_button).on('click', function () {
                // Call leave function on server when click 'leave' button

                socket.emit('leave-room', {user_data});
            });

            socket.on('leave-room', function(data){
                // This function call from server - remove 'room' from session and redirect to 'rooms' page

                sessionStorage.removeItem("room"); // remove 'room' from session
                window.location.href = data.url; // redirect to room choosing page
            });
        });
        
    </script>

    <div id="chat">

        <div id="rcv-msg">
            Hello, I'm a received message<br>
            <span class="msg-sign">
                14:15 PM Jul 1, Vladimir Reymer
                <span class="msg-sign-tooltip">
                    Developer, Back-End
                </span>
            </span>
        </div>

        <div id="snd-msg">
            Hello, I'm a sended message<br>
            <span class="msg-sign">
                14:18 PM Jul 1, Sergey Yurev
                <span class="msg-sign-tooltip">
                    Developer, Front-End
                </span>
            </span>
        </div>

    </div>

    <div id="input">
        <input id="input-msg" type="text"  placeholder="Enter your message here..."></input>
        <button id="input-send">Send</button>
        <button id="input-leave">Leave</button>
    </div>

</body>

</html>