<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('chat.static', filename='css/room.css')}}">
    <title>Rooms</title>
</head>

<body>

    <div id="header">
            Hello, {{session['name']}}. <span id="welcome-tooltip">Only {{session['department_role']}}? Pfff</span><br>
            Welcome to the worst app for company communication. 
    </div>

    <div id="room-list">
        {% for room in rooms %}
            <p id="room">{{room.id}} /{{ room.name.upper() }} - {{ room.description.capitalize()}}. 
            <span id="users">Users currently in chat: {{users[room.name]}}</span></p>
        {% endfor %}
    </div>



    <form method="post" id="form">

        <div id="flash-errors">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        {{ form.room(id_="room-field") }}
        {{ form.password(id_="password-field") }}
        {{ form.submit(id_="submit") }}

    </form>

    <div id="sign">
        Application was created special for "DNS" test task<br>
        by Vladimir Reymer (C)
    </div>

            
    {% for error in form.room.errors %}
    <div class="form_errors">{{ error }}</div>
    {% endfor %}

    
    {% for error in form.password.errors %}
    <div class="form_errors">{{ error}}</div>
    {% endfor %}

</body>
</html>