<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/login.css')}}">
    <title>Login</title>
</head>
<body>
    
    <div id="login">

        <h1 id="header">Enter your login credentials</h1>
        <div id="flash-errors">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <form method="post">

            <div id="email-erros">    
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            </div>

            {{ form.email.label(id_="email-label") }}
            {{ form.email(id_="email-field") }}

            <div id="password-errors">
                {% for error in form.password.errors %}
                    {{ error }}
                {% endfor %}
            </div>

            {{ form.password.label(id_="password-label") }}
            {{ form.password(id_="password-field") }}

            {{ form.submit(id_="submit-field") }}

        </form>

        <p id="reg">
            Don't have an account? <a id="reg-link" href="{{url_for('auth.register')}}">Register here<a>
        </p>

    </div>

</body>
</html>